# Collections Module

In [1]:
from collections import Counter

# Counter

---

To get unique values in mylist:

---

In [2]:
mylist = [1,1,1,1,1,1,1,2,2,2,2,2,2,3,3,3,3,3,3]

In [3]:
Counter(mylist)

Counter({1: 7, 2: 6, 3: 6})

In [21]:
list1 = 'a a a a a a a b b b b b c c c'
list2 = [1,1,1,1,1,2,2,2,3,3,3,4,4,4,5]
list1 = list1.split()
mylist = list1 + list2
mylist

a = Counter(mylist)
a

Counter({'a': 7, 'b': 5, 'c': 3, 1: 5, 2: 3, 3: 3, 4: 3, 5: 1})

In [37]:
Counter('aaaaaaaaaaaavvvvvvvveeeeeed')

Counter({'a': 12, 'v': 8, 'e': 6, 'd': 1})

In [38]:
letters = 'aaabbbbbbbbbbccccccccccdddddddddddddddd'
c = Counter(letters)

In [39]:
c.most_common()
c.most_common(3)
c.most_common(1) # *the* most common

[('d', 16)]

In [41]:
list(c)

['a', 'b', 'c', 'd']

---

Mini Cheat Sheet

---

    sum(c.values())                 # total of all counts
    c.clear()                       # reset all counts
    list(c)                         # list unique elements
    set(c)                          # convert to a set
    dict(c)                         # convert to a regular dictionary
    c.items()                       # convert to a list of (elem, cnt) pairs
    Counter(dict(list_of_pairs))    # convert from a list of (elem, cnt) pairs
    c.most_common()[:-n-1:-1]       # n least common elements
    c += Counter()                  # remove zero and negative counts

---

# Default Dictionary

---

In [52]:
from collections import defaultdict

In [53]:
d = {'a':10}

In [54]:
d

{'a': 10}

In [55]:
d['a']

10

In [56]:
d['WRONG']

KeyError: 'WRONG'

Default dictionary will assign a default value if there is an instance where a key error would have occured

In [57]:
d = defaultdict(lambda: 0)

In [58]:
d['Correct'] = 100

In [59]:
d['WRONG KEY!']  # no error, automatically assigned value 0

0

In [62]:
d['Correct']

100

---

# Named Tuple

---

In [64]:
from collections import namedtuple

In [65]:
Dog = namedtuple('Dog',['age','breed','name'])

In [66]:
sammy = Dog(age=5,breed='Husky',name='Sam')

In [67]:
sammy

Dog(age=5, breed='Husky', name='Sam')

In [68]:
sammy.age

5

In [69]:
sammy.breed

'Husky'

In [71]:
sammy[0]

5

In [74]:
sammy.name

'Sam'